.info_logo {
    background-image: url(../img/always-grey.png);
    background-color: #011627;
    padding: 15px 20px 0px 20px;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:fit-content;
    z-index: -1;
}

.inner_logo {
    padding: 15px 20px -50px 20px;
}

.info_login {
    background-color: #f4f7f4;
    padding: 15px 20px 138pt 20px;
    color: #3d3838;
    height: 40%;
}   

.inner_login {
    padding: 15px 20px 15px 20px;
    height: 100%;
}

.logo_getApi {
    margin-bottom: 70px;
}

.contact {
    margin-top: 50pt;
}

.contact i {
    color: #000000;
    margin-left: 25pt;
    margin-top: 20pt;
}

.contact h4 {
    padding: 5pt 10pt;
    font-weight: bold;
    background-color: #e9ece9;
    color: #3d3838;
    font-size: 10pt;
    border: 2px solid #e9ece9;
    width: 470pt;
    margin-left: -1%;
}

.contact i:hover {
    color: #F08700;
}

.logo_console_getApi {
    margin-top: 100pt !important;
    text-align: center;
}

.login_console_getApi {
    color: #5A6872;
    text-align: center;
    margin-right:12% !important;
    margin-top: 170px;
}

.logoLogin {
    margin-bottom: 40px;
}

.signupSection {
    color: #5A6872;
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
    margin-bottom: 40px;
    margin-left: 8%;
    max-width: 430px;
}

.btn-newAccount {
    position: absolute;
    background-color: #011627;
    color: white;
    margin-left:-30% !important;
    margin-right:1%;
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
}

.btn-newAccount:hover {
    background-color: white;
    color: #011627;
    border: 1px solid #F08700;
}

.btnEnfoca {
    margin-top: 20pt;
    letter-spacing: .5px;
    font-size: 1.28rem;
    cursor: pointer;
    font-weight: 700;
    height: 3.5rem;
    padding: 0 1.5rem;
    text-align: center;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    border: 2px solid transparent;
}

.form-control.insertedData {
    width: 100%;
    border-color: #011627;
    border: 2px solid;
    border-radius: 0px;
}

.form-control.insertedData_cat {
    width: 250pt;
    border-color: #011627;
    border: 2px solid;
    border-radius: 0px;
    margin-left: -40pt;
}

form-control.insertedData_cat:hover {
    border-color: #F08700 !important;
    border: 2px solid;
}

.form-control.insertedData:hover {
    width: 100%;
    border-color: #F08700 !important;
    border: 1px solid;
}

.control-label {
    margin-top: -10pt;
    margin-left: 1pt;
    text-align: left !important;
    font-size: 10pt;
}

.control-label_cat {
    position: absolute;
    margin-top: -15pt;
    margin-left: -50pt;
    text-align: left !important;
    font-size: 10pt;
}

#sel1 {
    color: #F08700;
    background-color: #fff;
    border: 2px solid #011627;
    border-radius: 0px;
}

#sel1:hover {
    color: #011627;
    border-color: #F08700;
    border: 1px solid;
    background-color: #C2C4C2;
}

#atualizar {
    border-radius:0px;
    position: absolute;
    margin-left: -80pt;
    background-color: #F08700 !important;
    border-color: #F08700 !important;
    transition:.3s;
}

#atualizar:hover {
    background-color:transparent !important;
    color:#F08700 !important;
    
}

#atualizar_catalogo_cat {
    position: absolute;
    margin-left: -292pt;
    margin-top: -160pt;
    background-color: #F08700 !important;
    border-color: #F08700 !important;
}   



#atualizar_list2 {
    border:2px solid;
    border-radius:0px;
    float:right !important;
    padding:1pt 10pt 1pt 5pt;
    position: absolute;
    margin-top: 200pt;
    background-color: #F08700 !important;
    border-color: #F08700 !important;
}


#atualizar_list{
    border-radius:0px;
    border:2px solid;
    float:right !important;
    padding:1pt 10pt 1pt 5pt;
    position: absolute;
    margin-top: 240pt;
    background-color: #F08700 !important;
    border-color: #F08700 !important;
}

#atualizar_list:hover {
    background-color:transparent !important;
    color:#F08700 !important;
}

#atualizar_list2:hover{
    background-color:transparent !important;
    color:#F08700 !important;
}


.btn-signin {
    position:absolute;
    margin-left:-5%;
    background-color: white;
    border: 2px solid #3d70b2;
    color: #011627;
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
}

.btn-signin:hover {
    background-color: #011627;
    color: white;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}

.callingLogin {
    margin-bottom: 30px;
}

.usernameLabel {
    color: rgb(216, 216, 216);
    float:left;
    position:relative;
    
}

.forgotIdLabel {
    position:absolute;
    margin-left:250px;
    text-align: right;
}

.passwordLabel {
    color: rgb(216, 216, 216);
    float:left; 
    position: relative;
    margin-bottom:-25pt;
}

.forgotPassLabel {
    margin-right:-220%;
    
}

.usernameForm {
    margin-top:20pt;
    background-color: rgb(21, 41, 52);
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    border: none;
    height: 50px;
    width:100%;
}

.btn-continue {
    display: block;
    width: 260px;
    padding: 18px 0px;
    color: #fff;
    background-color: rgb(90, 170, 250);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40pt;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.patternLabel {
    margin-left: 0pt;
}

.patternForm {
    background-color: rgba(61, 112, 178, 0.1);
    color: #152935;
    font-weight: 400;
    font-size: 0.875rem;
    display: block;
    width: 100%;
    min-width: 9.375rem;
    border-radius: 0 !important;
}

.btn-register {
    display: block;
    width: 260px;
    padding: 18px 0px;
    color: #fff;
    background-color: rgb(90, 170, 250);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 98px;
    height: auto;
}

.quick_explanation {
    font-family: 'Roboto', sans-serif;
}


/* PRODUCTS CSS */

.card1 {}

.dosimetry-header {
    background-color: #011627 !important;
}

.card {
    display: inline-block !important;
    box-shadow: 0 4px 8px 0 rgba(71, 71, 70, 0.6), 0 6px 20px 0 rgba(71, 71, 70, 0.6);
}

.products-topSection {
    background-color: #011627;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    position: static;
    top: 0;
    width: 100%;
    z-index: 10005;
}

.products-header-billboard {
    padding: 40px 24px 20px;
    position: relative;
    text-align: center;
    z-index: 8888;
}

.quick_explanation h3 {
    color: #F08700;
}

.logIn {
    color: #F08700;
}

.logo_console_getApi {
    margin-top: 150pt;
}

.products-header-billboard h1 {
    overflow: visible;
    font: 300 44px/44px Roboto, sans-serif;
    margin: 13px 0;
    padding: 0;
    color: #F08700;
}

.products-search-form {
    border: 6px solid #011627;
    border-radius: 8px;
    height: 48px;
    margin: -8px 0 48px;
    max-width: 816px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 7777;
    background: #f7f7f7;
    flex: 0 0 auto;
    opacity: 1;
    text-align: left;
    transition: background .2s, flex .2s, opacity .2s, width .2s, -ms-flex .2s;
    vertical-align: top;
    margin: 0 auto;
    max-width: 1400px;
}

.products-search-field {
    background: 0;
    border: 0;
    color: rgba(0, 0, 0, .54);
    height: 36px;
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%;
}

.products-search-image {
    color: rgba(0, 0, 0, .54);
    left: 24px;
    position: absolute;
    padding: 6px;
    transform: color .2s;
}



.data {
    padding: -50px 5px 0px 5px;
    margin-left: 350pt;
    margin-top: 10pt;
    width: 90%;
}

.data h1 {
    margin-left: -50pt;
}

.divider {
    margin-left: -50pt;
}

#comment_cat {
    position: relative;
    margin-left: -220pt;
    border: 1px solid transparent;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    width: 400pt;
    max-height: 100%;
}

#comment_cat:focus {
    background-color: rgba(90, 104, 114, 0.15);
    border: 1px solid;
    font-weight: bold;
    color: #011627;
    border-color: #F08700;
}

#comment {
    position: relative;
    margin-left: 0pt;
    border: 1px solid transparent;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
}

#comment:focus {
    border-top: 0px solid transparent;
    background-color: rgba(90, 104, 114, 0.15);
    border: 1px solid;
    font-weight: bold;
    color: #011627;
    border-color: #F08700;
}



.categories_product {
    padding: 20pt 5pt 0pt 30pt !important;
}

.categories_product p {
    text-align: justify !important
}

.btn-primary{
    border-color:#011627!important;
    background-color:#011627 !important;
    color:#fff !important;
}

.categories_product a {
    color: #F08700;
    margin-left:20pt;
    
}

.categories_product p {
    text-align: justify;
}

.categories_product a:hover {
    color: #011627;
    text-decoration: none;
}

.btn_products_develop {
    background-color: #F08700;
    color: white;
    margin-top:0pt;
}

.btn_products_develop:hover {
    background-color: #fff;
    border: 2px solid #F08700;
    color: #F08700;
}

.btn_products_grow {
    margin-top:0pt;
    background-color: #011627;
    color: white;
}

.btn_products_grow:hover {
    background-color: #fff;
    border: 2px solid #011627;
    color: #011627;
}

.descriptionCategories {
    height: 50px;
    text-align: justify;
    
}

.products-background-grey {
    margin-top: 10pt;
    background-color: #f7f7f7;
}

.products-background-grey h1 {
    color: black;
    font: 100 34px/40px Roboto, sans-serif;
    margin-left: 200pt;
}

.products-background-grey hr {
    color: #C2C4C2;
    margin-left: 200pt;
    margin-right: 200pt;
}

.products-list-all {
    margin-left: 200pt !important;
    font: 100 16px/16px Roboto, sans-serif;
}

.products-list-all p {
    padding: 10px;
}

.products-footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #C2C4C2;
}

.footerContent {
    padding-top: 10px;
}


/* ACCOUNT CSS */

.account-topSection {
    background-color: #011627;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    position: static;
    top: 0;
    width: 100%;
    z-index: 10005;
}

.account-header-billboard {
    padding: 10px 24px 20px;
    position: relative;
    z-index: 8888;
}

.account-header-billboard h1 {
    overflow: visible;
    font: 300 22px/22px Roboto, sans-serif;
    padding: 0;
    color: #F08700;
}

.nav-pills.nav-stacked {
    color: #C2C4C2 !important;
}

.sidebar_account {
    font-size:12pt;
    color: white;
    padding: 20pt 10pt 20pt 5pt !important;
    background-color: rgba(1, 22, 39, 1);
    height: 730pt;
    margin: 2px 0 0px;
    max-width: 816px;
    width: fit-content !important;
    display: flex;
    position: relative;
    z-index: 7777;
    flex: 0 0 auto;
    opacity: 1;
    text-align: left;
    transition: background .2s, flex .2s, opacity .2s, width .2s, -ms-flex .2s;
    vertical-align: top;
}

.account-search-field {
    background: 0;
    border: 0;
    color: rgba(0, 0, 0, .54);
    height: 36px;
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%;
}

.account-search-image {
    color: rgba(0, 0, 0, .54);
    left: 24px;
    position: absolute;
    padding: 6px;
    transform: color .2s;
}

.categories_account {
    padding: 40px 0 0;
}

.categories_account a {
    color: #F08700;
}

.categories_account a:hover {
    color: #011627;
    text-decoration: none;
}

.btn_account_develop {
    background-color: #F08700;
    color: white;
}

.btn_account_develop:hover {
    background-color: #fff;
    border: 2px solid #F08700;
    color: #F08700;
}

.btn_account_grow {
    background-color: #011627;
    color: white;
}

.btn_account_grow:hover {
    background-color: #fff;
    border: 2px solid #011627;
    color: #011627;
}

.descriptionCategories {
    height: 50px;
}

.account-background-grey {
    margin-top: 10pt;
    background-color: #f7f7f7;
}

.account-background-grey h1 {
    color: black;
    font: 100 34px/40px Roboto, sans-serif;
    margin-left: 200pt;
}

.account-background-grey hr {
    color: #C2C4C2;
    margin-left: 200pt;
    margin-right: 200pt;
}

.account-list-all {
    margin-left: 200pt !important;
    font: 100 16px/16px Roboto, sans-serif;
}

.account-list-all p {
    padding: 10px;
}

.account-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footerContent {
    padding-top: 10px;
}


/* NAVBAR CSS */